* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #3266cc;
}

h3 {
  margin-bottom: 10px;
}

h1 {
  margin: 20px 0;
  font-size: 40px;
}

button {
  display: inline-block;
  cursor: pointer;
  background: #3266cc;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 3px 3px #fff;
}

button:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 5px 5px #fff;
}

button:active {
  transform: scale(0.9);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.msg {
  display: none;
  position: absolute;
  right: 0;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}

.error {
  text-align: center;
  color: red;
  width: 100%;
  margin: 85px 0;
}

.spinner {
  width: 15px;
  text-align: center;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  color: #fff;
  border-radius: 30px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  height: 218px;
  overflow-y: auto;
  margin: 10px 0;
}

ul::-webkit-scrollbar {
  width: 8px;
  scroll-behavior: smooth;
}

ul::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  margin: 0 20px;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #3266cc;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #272626;
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  margin: 5px 0;
  padding: 5px;
}

ul li:nth-child(odd) {
  background: #3c3b3b;
}

ul li .index,
ul li .scores {
  background: #3266cc;
  padding: 10px 15px;
  border-radius: 30px;
}

.new-score {
  background: #1a1a1a;
  padding: 20px;
  color: #fff;
  border-radius: 30px;
}

.form input {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 20px 0;
  background: none;
  border: none;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
}

.form input:focus {
  outline: none;
}

.form input:active {
  outline: none;
  background: none;
}

.form input::placeholder {
  color: #fff;
}

.form button {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  .item:nth-child(1) {
    order: 2;
  }

  .item:nth-child(2) {
    order: 1;
  }
}
